body {
margin: 0px;
padding: 0px;
text-align: center;
}

header {
background-color: lightcoral;
width: 100%;
height: 50px;
}
#left {
background-color: lightgreen;
width: 30%;
min-height: 300px;
}
#mid {
background-color: lightsalmon;
width: 40%;
min-height: 300px;
}
#right {
background-color: mediumpurple;
width: 30%;
min-height: 300px;
}
footer {
background-color: royalblue;
width: 100%;
clear: both;
height: 50px;
}
main {
display: flex;
width: 100%;
}
main::after {
    content: "";
    display: table;
    clear: both;
}